
.home-footer {
    margin-top: 60px;
    color: var(--grisOscuro);
}

.home-footer section.pago {
    margin-bottom: 50px;
    text-align: center;
}

.home-footer section.envio {
    margin-bottom: 50px;
    text-align: center;
}

.home-footer section.seguridad {
    margin-bottom: 40px;
    text-align: center;
}

.home-footer section.copyright {
    margin-left: 20px;
    margin-bottom: 20px;
}


.home-footer h4 {
    font-size: var(--tamañoTitulares);
  
}

.home-footer p {
    font-size: var(--tamañoTextosGral);
    width: 250px;
    margin: auto;

}

.home-footer div i {
    color: var(--celeste);
    font-size: 2rem;
    margin-bottom: 10px;
}


@media (min-width: 361px){

    
    .home-footer {
       
    }

    .home-footer section.pago {
    
    }

    .home-footer section.envio {
    
    }

    .home-footer section.seguridad {
    
    }

    .home-footer section.copyright {
    
    }


    .home-footer h4 {
 
  
    }

    .home-footer p {
    
    }

    .home-footer div i {
    
    }

}

@media (min-width: 769px) {

    .home-footer {
       
    }

    .home-footer section.pago {
    
    }

    .home-footer section.envio {
    
    }

    .home-footer section.seguridad {
    
    }

    .home-footer section.copyright {
    
    }


    .home-footer h4 {
 
  
    }

    .home-footer p {
    
    }

    .home-footer div i {
    
    }
}