body.login {
    background-color: var(--grisClaro);
}


main.login {
     margin:0;
     padding: 0;
     width: 100%;
}


footer.login {
    background-color: var(--blanco);
}

.btn-custom-send {
    color: var(--blanco);
    background-color: var(--verde);
}


.btn-custom-send:hover {
    color: var(--blanco);
    background-color: var(--verde);
    opacity: .1;
}